.highlights-featured {
  // background-color: $darkGrey;
  margin: 0 0 20px;

  @media screen and (min-width: 768px) {
    margin: 0 0 20px;
    background-color: transparent;
  }

  .com-h3 {
    // color: $white;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      color: inherit;
    }
  }
}

.facebook-responsive {
    overflow:hidden;
    padding-bottom:55.25%;
    position:relative;
    height:0;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
