/* COLORS */

$black: #000;
$white: #fff;
$red: #CC0000;
$navBg: rgba(255,255,255,0.6);
$lightGrey: #eee;
$mediumGrey: #D8D8D8;
$darkGrey: #555555;
$charcoal: #333333;
$cement: #999999;


/* FONTS */

$primary-title: "TrimPoster-Slender", "trim-poster", sans-serif;
$secondary-title:  "TrimPoster-Slender", "trim-poster", sans-serif;
$body-font: 'Lato', sans-serif;
$trim-poster: "TrimPoster-Slender", "trim-poster", sans-serif;
$lato: 'Lato', sans-serif;
$akkurat: 'Akkurat', sans-serif;
